body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;
    padding: 0;
}

.line {
    display: flex;
    gap: 5px;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 1px solid black;
    text-transform: uppercase;
}

.correct {
    background-color: green;
}

.absent {
    background-color: lightgrey;
}

.present {
    background-color: yellow;
}
